In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [35]:
df = pd.read_csv('클러스터최종.csv')

In [36]:
df

,Unnamed: 0,D_TRA1_CASE,D_TRA1_S_Day,D_TRA1_COST,D_TRA1_1_SMONTH,D_TRA1_1_SPOT,D_TRA1_1_Code,D_TRA1_1_Q6_Ar,D_TRA1_1_Q6,A1_1,...,국내_숙박여부,국내_연간여행경험_국내숙박,국내_연간여행경험_국내당일,국내_연간여행경험_관광숙박,국내_연간여행경험_관광당일,국내_월별여행경험_국내숙박,국내_월별여행경험_국내당일,국내_월별여행경험_관광숙박,국내_월별여행경험_관광당일,cluster
0,0,2,0,50000.0,3,23010,23010016,0,,5,...,0,0,0,0,0,0,1,0,1,D
1,1,1,0,60000.0,5,31130,31130010,0,,1,...,0,0,0,0,0,0,1,0,1,D
2,2,1,0,30000.0,6,31110,31110007,0,,5,...,0,0,0,0,0,0,1,0,1,G
3,3,1,0,50000.0,2,31200,31200018,0,,5,...,0,0,0,0,0,0,1,0,1,D
4,4,1,0,70000.0,2,31370,31370033,0,,1,...,0,0,0,0,0,0,1,0,1,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1432,1432,4,0,100000.0,3,11010,11010900,0,,3,...,0,0,0,0,0,0,1,0,1,C
1433,1433,1,0,20000.0,2,39020,39020059,0,,1,...,0,0,0,0,0,0,1,0,1,E
1434,1434,1,0,50000.0,4,39020,39020021,0,,1,...,0,0,0,0,0,0,1,0,1,A
1435,1435,2,0,10000.0,3,39010,39010900,0,,1,...,0,0,0,0,0,0,1,0,1,C
1436,1436,4,0,10000.0,9,39010,39010900,0,,1,...,0,0,0,0,0,0,1,0,1,C

In [37]:
change = {11010:'서울특별시 종로구',11020:'서울특별시 중구',11030:'서울특별시 용산구',
          11040:'서울특별시 성동구',11050:'서울특별시 광진구',11060:'서울특별시 동대문구',
          11070:'서울특별시 중랑구',11080:'서울특별시 성북구',11090:'서울특별시 강북구',
         11100:'서울특별시 도봉구',11110:'서울특별시 노원구',11120:'서울특별시 은평구',
          11130:'서울특별시 서대문구',11140:'서울특별시 마포구',11150:'서울특별시 양천구',
          11160:'서울특별시 강서구',11170:'서울특별시 구로구',11180:'서울특별시 금천구',
          11190:'서울특별시 영등포구',11200:'서울특별시 동작구',11210:'서울특별시 관악구',
          11220:'서울특별시 송파구',11230:'서울특별시 강남구',11240:'서울특별시 송파구',
          11250:'서울특별시 강동구',21010:'부산광역시 중구',21020:'부산광역시 서구',
          21030:'부산광역시 동구',21040:'부산광역시 영도구',21050:'부산광역시 부산진구',
          21060:'부산광역시 동래구',21070:'부산광역시 남구',21080:'부산광역시 북구',
          21090:'부산광역시 해운대구',21100:'부산광역시 사하구',21110:'부산광역시 금정구',
          21120:'부산광역시 강서구',21130:'부산광역시 연제구',21140:'부산광역시 수영구',
          21150:'부산광역시 사상구',21310:'부산광역시 기장군',22010:'대구광역시 중구',
          22020:'대구광역시 동구',22030:'대구광역시 서구',22040:'대구광역시 남구',
          22050:'대구광역시 북구',22060:'대구광역시 수성구',22070:'대구광역시 달서구',
          22310:'대구광역시 달성군',23010:'인천광역시 중구',23020:'인천광역시 동구',
          23030:'인천광역시 미추홀구',23040:'인천광역시 연수구',23050:'인천광역시 남동구',
          23060:'인천광역시 부평구',23070:'인천광역시 계양구',23080:'인천광역시 서구',
          23310:'인천광역시 강화군',23320:'인천광역시 옹진군',24010:'광주광역시 동구',
          24020:'광주광역시 서구',24030:'광주광역시 남구',24040:'광주광역시 북구',
          24050:'광주광역시 광산구',25000:'대전광역시',25010:'대전광역시 동구',
          25020:'대전광역시 중구', 25030:'대전광역시 서구',25040:'대전광역시 유성구',
          25050:'대전광역시 대덕구',26000:'울산광역시',26010:'울산광역시 중구',
          26020:'울산광역시 남구',26030:'울산광역시 동구',26040:'울산광역시 북구',
          26310:'울산광역시 울주군',29010:'세종특별자치시 세종시',31010:'경기도 수원시',
          31020:'경기도 성남시',31030:'경기도 의정부시',31040:'경기도 안양시',
          31050:'경기도 부천시',31060:'경기도 광명시',31070:'경기도 평택시',
          31080:'경기도 동두천시',31090:'경기도 안산시',31100:'경기도 고양시',
          31110:'경기도 과천시',31120:'경기도 구리시',31130:'경기도 남양주시',
          31140:'경기도 오산시',31150:'경기도 시흥시',31160:'경기도 군포시',
          31170:'경기도 의왕시',31180:'경기도 하남시',31190:'경기도 용인시',
          31200:'경기도 파주시',31210:'경기도 이천시',31220:'경기도 안성시',
          31230:'경기도 김포시',31240:'경기도 화성시',31250:'경기도 광주시',
          31260:'경기도 양주시',31270:'경기도 포천시',31280:'경기도 여주시',
          31350:'경기도 연천군',31370:'경기도 가평군',31380:'경기도 양평군',
          32010:'강원도 춘천시',32020:'강원도 원주시',32030:'강원도 강릉시',
          32040:'강원도 동해시',32050:'강원도 태백시',32060:'강원도 속초시',
          32070:'강원도 삼척시',32310:'강원도 홍천군',32320:'강원도 횡성군',
          32330:'강원도 영월군',32340:'강원도 평창군',32350:'강원도 정선군',
          32360:'강원도 철원군',32370:'강원도 화천군',32380:'강원도 양구군',
          32390:'강원도 인제군',32400:'강원도 고성군',32410:'강원도 양양군',
          33020:'충청북도 충주시',33030:'충청북도 제천시',33040:'충청북도 청주시',
          33320:'충청북도 보은군',33330:'충청북도 옥천군',33340:'충청북도 영동군',
          33350:'충청북도 진천군',33360:'충청북도 괴산군',33370:'충청북도 음성군',
          33380:'충청북도 단양군',33390:'충청북도 증평군',34010:'충청남도 천안시',
          34020:'충청남도 공주시',34030:'충청남도 보령시',34040:'충청남도 아산시',
          34050:'충청남도 서산시',34060:'충청남도 논산시',34070:'충청남도 계룡시',
          34080:'충청남도 당진시',34310:'충청남도 금산군',34330:'충청남도 부여군',
          34340:'충청남도 서천군',34350:'충청남도 청양군',34360:'충청남도 홍성군',
          34370:'충청남도 예산군',34380:'충청남도 태안군',35010:'전라북도 전주시',
          35020:'전라북도 군산시',35030:'전라북도 익산시',35040:'전라북도 정읍시',
          35050:'전라북도 남원시',35060:'전라북도 김제시',35310:'전라북도 완주군',
          35320:'전라북도 진안군',35330:'전라북도 무주군',35340:'전라북도 장수군',
          35350:'전라북도 임실군',35360:'전라북도 순창군',35370:'전라북도 고창군',
          35380:'전라북도 부안군',36010:'전라남도 목포시',36020:'전라남도 여수시',
          36030:'전라남도 순천시',36040:'전라남도 나주시',36060:'전라남도 광양시',
          36310:'전라남도 담양군',36320:'전라남도 곡성군',36330:'전라남도 구례군',
          36350:'전라남도 고흥군',36360:'전라남도 보성군',36370:'전라남도 화순군',
          36380:'전라남도 장흥군',36390:'전라남도 강진군',36400:'전라남도 해남군',
          36410:'전라남도 영암군',36420:'전라남도 무안군',36430:'전라남도 함평군',
          36440:'전라남도 영광군',36450:'전라남도 장성군',36460:'전라남도 완도군',
          36470:'전라남도 진도군',36480:'전라남도 신안군',37010:'경상북도 포항시',
          37020:'경상북도 경주시',37030:'경상북도 김천시',37040:'경상북도 안동시',
          37050:'경상북도 구미시',37060:'경상북도 영주시',37070:'경상북도 영천시',
          37080:'경상북도 상주시',37090:'경상북도 문경시',37310:'경상북도 군위군',
          37320:'경상북도 의성군',37330:'경상북도 청송군',37340:'경상북도 영양군',
          37350:'경상북도 영덕군',37360:'경상북도 청도군',37370:'경상북도 고령군',
          37380:'경상북도 성주군',37390:'경상북도 칠곡군',37400:'경상북도 예천군',
          37410:'경상북도 봉화군',37420:'경상북도 울진군',37430:'경상북도 울릉군',
          38030:'경상남도 진주시',38050:'경상남도 통영시',38060:'경상남도 사천시',
          38070:'경상남도 김해시',38080:'경상남도 밀양시',38090:'경상남도 거제시',
          38100:'경상남도 양산시',38110:'경상남도 창원시',38310:'경상남도 의령군',
          38320:'경상남도 함안군',38330:'경상남도 창녕군',38340:'경상남도 고성군',
          38350:'경상남도 남해군',38360:'경상남도 하동군',38370:'경상남도 산청군',
          38380:'경상남도 함양군',38390:'경상남도 거창군',38400:'경상남도 합천군',
          39010:'제주특별자치도 제주시',39020:'제주특별자치도 서귀포시'}




df = df.replace({'D_TRA1_1_SPOT':change})

In [38]:
df['시도']= df['D_TRA1_1_SPOT'].str.split(' ').str[0]
df['시군구']= df['D_TRA1_1_SPOT'].str.split(' ').str[1]

In [39]:
df.to_csv("tableau_5.csv",encoding="utf-8-sig")

In [88]:
df2= pd.read_csv('1인제외.csv')

In [41]:
change = {11010:'서울특별시 종로구',11020:'서울특별시 중구',11030:'서울특별시 용산구',
          11040:'서울특별시 성동구',11050:'서울특별시 광진구',11060:'서울특별시 동대문구',
          11070:'서울특별시 중랑구',11080:'서울특별시 성북구',11090:'서울특별시 강북구',
         11100:'서울특별시 도봉구',11110:'서울특별시 노원구',11120:'서울특별시 은평구',
          11130:'서울특별시 서대문구',11140:'서울특별시 마포구',11150:'서울특별시 양천구',
          11160:'서울특별시 강서구',11170:'서울특별시 구로구',11180:'서울특별시 금천구',
          11190:'서울특별시 영등포구',11200:'서울특별시 동작구',11210:'서울특별시 관악구',
          11220:'서울특별시 송파구',11230:'서울특별시 강남구',11240:'서울특별시 송파구',
          11250:'서울특별시 강동구',21010:'부산광역시 중구',21020:'부산광역시 서구',
          21030:'부산광역시 동구',21040:'부산광역시 영도구',21050:'부산광역시 부산진구',
          21060:'부산광역시 동래구',21070:'부산광역시 남구',21080:'부산광역시 북구',
          21090:'부산광역시 해운대구',21100:'부산광역시 사하구',21110:'부산광역시 금정구',
          21120:'부산광역시 강서구',21130:'부산광역시 연제구',21140:'부산광역시 수영구',
          21150:'부산광역시 사상구',21310:'부산광역시 기장군',22010:'대구광역시 중구',
          22020:'대구광역시 동구',22030:'대구광역시 서구',22040:'대구광역시 남구',
          22050:'대구광역시 북구',22060:'대구광역시 수성구',22070:'대구광역시 달서구',
          22310:'대구광역시 달성군',23010:'인천광역시 중구',23020:'인천광역시 동구',
          23030:'인천광역시 미추홀구',23040:'인천광역시 연수구',23050:'인천광역시 남동구',
          23060:'인천광역시 부평구',23070:'인천광역시 계양구',23080:'인천광역시 서구',
          23310:'인천광역시 강화군',23320:'인천광역시 옹진군',24010:'광주광역시 동구',
          24020:'광주광역시 서구',24030:'광주광역시 남구',24040:'광주광역시 북구',
          24050:'광주광역시 광산구',25000:'대전광역시',25010:'대전광역시 동구',
          25020:'대전광역시 중구', 25030:'대전광역시 서구',25040:'대전광역시 유성구',
          25050:'대전광역시 대덕구',26000:'울산광역시',26010:'울산광역시 중구',
          26020:'울산광역시 남구',26030:'울산광역시 동구',26040:'울산광역시 북구',
          26310:'울산광역시 울주군',29010:'세종특별자치시 세종시',31010:'경기도 수원시',
          31020:'경기도 성남시',31030:'경기도 의정부시',31040:'경기도 안양시',
          31050:'경기도 부천시',31060:'경기도 광명시',31070:'경기도 평택시',
          31080:'경기도 동두천시',31090:'경기도 안산시',31100:'경기도 고양시',
          31110:'경기도 과천시',31120:'경기도 구리시',31130:'경기도 남양주시',
          31140:'경기도 오산시',31150:'경기도 시흥시',31160:'경기도 군포시',
          31170:'경기도 의왕시',31180:'경기도 하남시',31190:'경기도 용인시',
          31200:'경기도 파주시',31210:'경기도 이천시',31220:'경기도 안성시',
          31230:'경기도 김포시',31240:'경기도 화성시',31250:'경기도 광주시',
          31260:'경기도 양주시',31270:'경기도 포천시',31280:'경기도 여주시',
          31350:'경기도 연천군',31370:'경기도 가평군',31380:'경기도 양평군',
          32010:'강원도 춘천시',32020:'강원도 원주시',32030:'강원도 강릉시',
          32040:'강원도 동해시',32050:'강원도 태백시',32060:'강원도 속초시',
          32070:'강원도 삼척시',32310:'강원도 홍천군',32320:'강원도 횡성군',
          32330:'강원도 영월군',32340:'강원도 평창군',32350:'강원도 정선군',
          32360:'강원도 철원군',32370:'강원도 화천군',32380:'강원도 양구군',
          32390:'강원도 인제군',32400:'강원도 고성군',32410:'강원도 양양군',
          33020:'충청북도 충주시',33030:'충청북도 제천시',33040:'충청북도 청주시',
          33320:'충청북도 보은군',33330:'충청북도 옥천군',33340:'충청북도 영동군',
          33350:'충청북도 진천군',33360:'충청북도 괴산군',33370:'충청북도 음성군',
          33380:'충청북도 단양군',33390:'충청북도 증평군',34010:'충청남도 천안시',
          34020:'충청남도 공주시',34030:'충청남도 보령시',34040:'충청남도 아산시',
          34050:'충청남도 서산시',34060:'충청남도 논산시',34070:'충청남도 계룡시',
          34080:'충청남도 당진시',34310:'충청남도 금산군',34330:'충청남도 부여군',
          34340:'충청남도 서천군',34350:'충청남도 청양군',34360:'충청남도 홍성군',
          34370:'충청남도 예산군',34380:'충청남도 태안군',35010:'전라북도 전주시',
          35020:'전라북도 군산시',35030:'전라북도 익산시',35040:'전라북도 정읍시',
          35050:'전라북도 남원시',35060:'전라북도 김제시',35310:'전라북도 완주군',
          35320:'전라북도 진안군',35330:'전라북도 무주군',35340:'전라북도 장수군',
          35350:'전라북도 임실군',35360:'전라북도 순창군',35370:'전라북도 고창군',
          35380:'전라북도 부안군',36010:'전라남도 목포시',36020:'전라남도 여수시',
          36030:'전라남도 순천시',36040:'전라남도 나주시',36060:'전라남도 광양시',
          36310:'전라남도 담양군',36320:'전라남도 곡성군',36330:'전라남도 구례군',
          36350:'전라남도 고흥군',36360:'전라남도 보성군',36370:'전라남도 화순군',
          36380:'전라남도 장흥군',36390:'전라남도 강진군',36400:'전라남도 해남군',
          36410:'전라남도 영암군',36420:'전라남도 무안군',36430:'전라남도 함평군',
          36440:'전라남도 영광군',36450:'전라남도 장성군',36460:'전라남도 완도군',
          36470:'전라남도 진도군',36480:'전라남도 신안군',37010:'경상북도 포항시',
          37020:'경상북도 경주시',37030:'경상북도 김천시',37040:'경상북도 안동시',
          37050:'경상북도 구미시',37060:'경상북도 영주시',37070:'경상북도 영천시',
          37080:'경상북도 상주시',37090:'경상북도 문경시',37100:'경상북도 경산시',
          37310:'경상북도 군위군',
          37320:'경상북도 의성군',37330:'경상북도 청송군',37340:'경상북도 영양군',
          37350:'경상북도 영덕군',37360:'경상북도 청도군',37370:'경상북도 고령군',
          37380:'경상북도 성주군',37390:'경상북도 칠곡군',37400:'경상북도 예천군',
          37410:'경상북도 봉화군',37420:'경상북도 울진군',37430:'경상북도 울릉군',
          38030:'경상남도 진주시',38050:'경상남도 통영시',38060:'경상남도 사천시',
          38070:'경상남도 김해시',38080:'경상남도 밀양시',38090:'경상남도 거제시',
          38100:'경상남도 양산시',38110:'경상남도 창원시',38310:'경상남도 의령군',
          38320:'경상남도 함안군',38330:'경상남도 창녕군',38340:'경상남도 고성군',
          38350:'경상남도 남해군',38360:'경상남도 하동군',38370:'경상남도 산청군',
          38380:'경상남도 함양군',38390:'경상남도 거창군',38400:'경상남도 합천군',
          39010:'제주특별자치도 제주시',39020:'제주특별자치도 서귀포시'}



df2.replace({'D_TRA1_1_SPOT':change},inplace=True)

In [42]:
df2['시도']= df2['D_TRA1_1_SPOT'].str.split(' ').str[0]
df2['시군구']= df2['D_TRA1_1_SPOT'].str.split(' ').str[1]

In [43]:
df2.to_csv('전체태블로.csv')

In [44]:
df2

,D_TRA1_CASE,D_TRA1_S_Day,D_TRA1_COST,D_TRA1_NUM,D_TRA1_ONE_COST,D_TRA1_1_SYEAR,D_TRA1_1_SMONTH,D_TRA1_1_SDAY,D_TRA1_1_EYEAR,D_TRA1_1_EMONTH,...,BEDU,BMAR,BFAM,BMON,BARA,WT_DOM,국내_여행여부,국내_숙박여부,시도,시군구
0,1,0,60000,3,20000.0,2020,2,2,2020,2,...,4,2,3,2,1,9804.983084,1,2,경기도,군포시
1,1,0,70000,3,23333.0,2020,2,8,2020,2,...,3,1,3,2,1,8112.627619,1,2,경기도,과천시
2,1,1,500000,4,125000.0,2020,2,1,2020,2,...,4,1,1,2,1,12794.875079,1,1,강원도,고성군
3,1,0,100000,4,25000.0,2020,2,8,2020,2,...,3,2,3,2,1,12310.841471,1,2,경기도,포천시
4,1,0,100000,3,33333.0,2020,2,2,2020,2,...,3,2,2,2,1,17287.409875,1,2,경기도,양주시
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11057,2,2,500000,2,250000.0,2020,4,30,2020,5,...,3,2,2,4,17,3043.438922,1,1,서울특별시,은평구
11058,2,11,1000000,2,500000.0,2020,9,25,2020,9,...,4,2,2,9,17,2921.139870,1,1,서울특별시,강남구
11059,1,1,250000,12,20833.0,2020,9,26,2020,9,...,4,2,3,9,17,1220.697046,1,1,제주특별자치도,제주시
11060,1,0,150000,7,21429.0,2020,10,9,2020,10,...,4,2,3,10,17,1454.395755,1,2,제주특별자치도,제주시
11061,1,1,130000,3,43333.0,2020,7,24,2020,7,...,4,2,3,7,17,4072.091585,1,1,제주특별자치도,제주시

In [45]:
df3 = df[['시도','시군구']]

In [46]:
df4 = df2[['시도','시군구']]

In [47]:
df5=pd.concat([df3,df4])

In [48]:
df5.to_csv('전체데이터.csv',encoding='cp949')

In [49]:
df['BARA']

0        1
1        1
2        1
3        1
4        1
        ..
1432    17
1433    17
1434    17
1435    17
1436    17
Name: BARA, Length: 1437, dtype: int64

In [50]:
change_2 = {1:'서울특별시',2:'부산광역시',3:'대구광역시',4:'인천광역시',5:'광주광역시'
           ,6:'대전광역시',7:'울산광역시',8:'세종특별자치시',9:'경기도',10:'강원도',11:'충청북도',12:'충청남도',13:'전라북도',14:'전라남도',15:'경상북도',16:'경상남도',17:'제주특별자치도'}

df.replace({'BARA':change_2},inplace=True)

In [51]:
df['BARA'].value_counts()

경기도        178
광주광역시      131
경상북도       123
전라남도       107
경상남도        96
서울특별시       96
대전광역시       90
부산광역시       89
충청남도        87
전라북도        84
인천광역시       81
충청북도        66
대구광역시       58
울산광역시       55
강원도         49
세종특별자치시     38
제주특별자치도      9
Name: BARA, dtype: int64

In [86]:
def 시군구(데이터):
    aa= df[ (df['시군구'] == 데이터) & (df['시도'] == '대구광역시')]
    aa.to_csv('{0}.csv'.format(데이터),encoding='cp949')
    print(aa)

In [70]:
df.to_csv('지역추가.csv',encoding='cp949')

In [75]:
df['시도'].value_counts()

전라남도       221
경기도        202
충청남도       141
전라북도       136
경상북도       133
경상남도       124
서울특별시       78
충청북도        78
강원도         68
부산광역시       62
대구광역시       50
대전광역시       35
인천광역시       29
세종특별자치시     22
울산광역시       20
광주광역시       16
제주특별자치도      9
Name: 시도, dtype: int64

In [87]:
시군구('동구')

      Unnamed: 0  D_TRA1_CASE  D_TRA1_S_Day  D_TRA1_COST  D_TRA1_1_SMONTH  \
104          104            1             0      50000.0                6
177          177            1             0      40000.0               12
1055        1055            2             0      55000.0                6
1215        1215            1             0      80000.0               12
1223        1223            4             0      60000.0               12
1232        1232            1             0      60000.0                4
1248        1248            1             0      30000.0               11
1250        1250            1             0      30000.0               12
1252        1252            1             0      30000.0                1
1253        1253            1             0      40000.0               12
1264        1264            2             1      30000.0               10
1274        1274            1             1     100000.0               10
1282        1282            1             0      20000.0                1
1286        1286            1             0      30000.0               10
1288        1288            1             0      30000.0                5
1295        1295            1             0      20000.0                4
1418        1418            1             0      40000.0                9

     D_TRA1_1_SPOT  D_TRA1_1_Code  D_TRA1_1_Q6_Ar D_TRA1_1_Q6  A1_1  ...  \
104       대구광역시 동구       22020014               0                 1  ...
177       대구광역시 동구       22020014               0                 1  ...
1055      대구광역시 동구       22020014               0                 1  ...
1215      대구광역시 동구       22020014               0                 6  ...
1223      대구광역시 동구       22020018               0                 6  ...
1232      대구광역시 동구       22020004               0                 1  ...
1248      대구광역시 동구       22020014               0                 1  ...
1250      대구광역시 동구       22020004               0                 1  ...
1252      대구광역시 동구       22020009               0                 1  ...
1253      대구광역시 동구       22020014               0                 1  ...
1264      대구광역시 동구       22020901           22020          12     1  ...
1274      대구광역시 동구       22020025           22020          12     1  ...
1282      대구광역시 동구       22020025               0                 1  ...
1286      대구광역시 동구       22020014               0                 1  ...
1288      대구광역시 동구       22020014               0                 1  ...
1295      대구광역시 동구       22020014               0                 1  ...
1418      대구광역시 동구       22020014               0                 1  ...

      국내_연간여행경험_국내당일  국내_연간여행경험_관광숙박  국내_연간여행경험_관광당일  국내_월별여행경험_국내숙박  \
104                0               0               0               0
177              100               0             100               0
1055               0               0               0               0
1215             100               0             100               0
1223             100               0             100               0
1232               0               0               0               0
1248               0               0               0               0
1250             100               0             100               0
1252               0               0               0               0
1253             100               0             100               0
1264               0               0               0               1
1274               0               0               0               1
1282               0               0               0               0
1286               0               0               0               0
1288               0               0               0               0
1295               0               0               0               0
1418               0               0               0               0

      국내_월별여행경험_국내당일  국내_월별여행경험_관광숙박  국내_월별여행경험_관광당일  cluster     시도  시군구
104                1               0               1        A  대구광역시   동구
177                1               0               1        E  대구광역시   동구
1055               1               0               1        G  대구광역시   동구
1215               1               0               1        E  대구광역시   동구
1223               1               0               1        F  대구광역시   동구
1232               1               0               1        E  대구광역시   동구
1248               1               0               1        D  대구광역시   동구
1250               1               0               1        F  대구광역시   동구
1252               1               0               1        E  대구광역시   동구
1253               1               0               1        A  대구광역시   동구
1264               0               1               0        B  대구광역시   동구
1274               0               1               0        B  대구광역시   동구
1282               1               0               1        E  대구광역시   동구
1286               1               0               1        G  대구광역시   동구
1288               1               0               1        D  대구광역시   동구
1295               1               0               1        E  대구광역시   동구
1418               1               0               1        A  대구광역시   동구

[17 rows x 97 columns]

In [85]:
df[ (df['시군구'] == '동구') & (df['시도'] == '대구광역시')]

,Unnamed: 0,D_TRA1_CASE,D_TRA1_S_Day,D_TRA1_COST,D_TRA1_1_SMONTH,D_TRA1_1_SPOT,D_TRA1_1_Code,D_TRA1_1_Q6_Ar,D_TRA1_1_Q6,A1_1,...,국내_연간여행경험_국내당일,국내_연간여행경험_관광숙박,국내_연간여행경험_관광당일,국내_월별여행경험_국내숙박,국내_월별여행경험_국내당일,국내_월별여행경험_관광숙박,국내_월별여행경험_관광당일,cluster,시도,시군구
104,104,1,0,50000.0,6,대구광역시 동구,22020014,0,,1,...,0,0,0,0,1,0,1,A,대구광역시,동구
177,177,1,0,40000.0,12,대구광역시 동구,22020014,0,,1,...,100,0,100,0,1,0,1,E,대구광역시,동구
1055,1055,2,0,55000.0,6,대구광역시 동구,22020014,0,,1,...,0,0,0,0,1,0,1,G,대구광역시,동구
1215,1215,1,0,80000.0,12,대구광역시 동구,22020014,0,,6,...,100,0,100,0,1,0,1,E,대구광역시,동구
1223,1223,4,0,60000.0,12,대구광역시 동구,22020018,0,,6,...,100,0,100,0,1,0,1,F,대구광역시,동구
1232,1232,1,0,60000.0,4,대구광역시 동구,22020004,0,,1,...,0,0,0,0,1,0,1,E,대구광역시,동구
1248,1248,1,0,30000.0,11,대구광역시 동구,22020014,0,,1,...,0,0,0,0,1,0,1,D,대구광역시,동구
1250,1250,1,0,30000.0,12,대구광역시 동구,22020004,0,,1,...,100,0,100,0,1,0,1,F,대구광역시,동구
1252,1252,1,0,30000.0,1,대구광역시 동구,22020009,0,,1,...,0,0,0,0,1,0,1,E,대구광역시,동구
1253,1253,1,0,40000.0,12,대구광역시 동구,22020014,0,,1,...,100,0,100,0,1,0,1,A,대구광역시,동구
1264,1264,2,1,30000.0,10,대구광역시 동구,22020901,22020,12,1,...,0,0,0,1,0,1,0,B,대구광역시,동구
1274,1274,1,1,100000.0,10,대구광역시 동구,22020025,22020,12,1,...,0,0,0,1,0,1,0,B,대구광역시,동구
1282,1282,1,0,20000.0,1,대구광역시 동구,22020025,0,,1,...,0,0,0,0,1,0,1,E,대구광역시,동구
1286,1286,1,0,30000.0,10,대구광역시 동구,22020014,0,,1,...,0,0,0,0,1,0,1,G,대구광역시,동구
1288,1288,1,0,30000.0,5,대구광역시 동구,22020014,0,,1,...,0,0,0,0,1,0,1,D,대구광역시,동구
1295,1295,1,0,20000.0,4,대구광역시 동구,22020014,0,,1,...,0,0,0,0,1,0,1,E,대구광역시,동구
1418,1418,1,0,40000.0,9,대구광역시 동구,22020014,0,,1,...,0,0,0,0,1,0,1,A,대구광역시,동구

In [89]:
df2['A1A_1']

KeyError: 'A1A_1'

In [90]:
df['A1A_1']

KeyError: 'A1A_1'